
.circle {
  fill: none;
  stroke: none;
}


.pathElapsed {
  stroke-width: 3px;
  stroke: #161932;
}

.pathRemaining {
  
  stroke-width: 3px;

  
  stroke-linecap: round;

  
  transform: rotate(90deg);
  transform-origin: center;

  
  transition: 1s linear all;

  
}

.redOrange {
  stroke: var(--redOrange);
}
.aqua {
  stroke: var(--aqua);
}
.magenta {
  stroke: var(--magenta);
}

.svg {
  transform: scaleX(-1);
}
